body{
    margin: 0px;
}
.name{
    font-weight: bolder;
    font-size: 64pt;
    text-align: center;
    background: linear-gradient(180deg, goldenrod, white);
    display: block;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 150px;
    border: 0px;
}

div,.image{
    Width: 700px;
    margin: auto;
    display: block;
}
.image{
    height: auto;
}

div{
    box-sizing: content-box;
}

.Ingredients{
    height: 530px;
}
li{
    padding: 8px;
}