body{
    margin: 0px;
    display: block;
    background: linear-gradient(180deg, goldenrod, white);
}
.name{
    font-weight: bolder;
    font-size: 32pt;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 50px;
    border: 0px;
}

div,.image{
    Width: 700px;
    margin: auto;
}
.image{
    height: auto;
    display: block;
}


.Ingredients{
    height: 530px;
}
li{
    padding: 8px;
}